@import '../../variables';

$text-content-mg: 64px;

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  color: $dark;
}

.contentWrap {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.pokemonCards {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
